@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: #0f0f0f;
    padding: 3.75rem 0 0 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.rightside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.bar {
    width: 1.3rem;
    height: 0.1rem;
    background-color: #ffffff;
    /* padding: 0.2rem 0.1rem 0.2rem 0.1rem; */
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 50%;
}

.bars:hover {
    background-color: #212121;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0 0 0 0.5rem;
    cursor: pointer;
}

.logo {

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #ffffff;

}

.texts {
    display: flex;

}

.Yt {
    font-size: 20px;
}

.in {
    font-size: 10px;
    opacity: 0.5;
    padding: 0 0 0 5px;
}

.redbox {
    width: 2rem;
    height: 1.4rem;
    background-color: #ff0000;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play {
    width: 0;
    height: 0;
    border-left: 0.4rem solid #ffffff;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
}

.middeleside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    width: 33.5rem;
    height: 2.5rem;
    /* background-color: #212121; */
    display: flex;
    align-self: start;
}

#search {
    width: 33.5rem;
    height: 2.5rem;
    background-color: #121212;
    /* border: none; */
    padding: 0 0 0 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 0.1px solid #858484;
}

.searchbar button {
    width: 4rem;
    height: 2.5rem;
    background-color: #212121;
    border: 0.1px solid #858484;
    color: white;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-left: none;
    cursor: pointer;
}

.voiceicon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #212121;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
}

.leftside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createbutton {
    width: 6.073125rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #212121; */
    border-radius: 1.2rem;
    cursor: pointer;
}

.createbutton:hover {
    background-color: #212121;
}

.createText {
    margin: 0 0 0 0.5rem;
}

.bell {
    width: 2.5rem;
    height: 2.5rem;
    /* background-color: #212121; */
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
}

.bell:hover {
    background-color: #212121;
}

.channel-logo {
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.baralloptions {
    color: #ffffff;
    width: 14.375rem;
    height: calc(100vh - 60px);
    /* background-color: #b63838; */
    /* margin: 4.5rem 0 0 0 ; */
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.5rem;
    left: 0;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
}

.baralloptions::-webkit-scrollbar {
    width: 6px;
}

.baralloptions::-webkit-scrollbar-track {
    background: transparent;
}

.baralloptions::-webkit-scrollbar-thumn {
    background: #555;
    border-radius: 10px;
}

.baralloptions::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0.5rem 0;
}

.home {
    font-size: 1.125rem;
    width: 80%;
    background-color: none;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.625rem;
    padding: 0 0 0 1rem;
}

.home i {
    margin: 0 1.5rem 0 0;
}

.home p {
    font-weight: 600;
}

.shorts {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.625rem;
    margin-top: 0.5rem;
    background-color: none;
    padding: 0 0 0 1rem;
}

.shorts img {
    margin: 0 1.5rem 0 0;
}

.shorts p {
    font-weight: 600;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0 0 0;
    border-top: 0.1px solid rgba(255, 255, 255, 0.2);
}

.subscribstion {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


.headding {
    color: #ffffff;
    font-size: 1rem;
    /* font-weight: 600; */
    margin: 0.1rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.625rem;
    padding: 0 0 0 1rem;

}

.arrow {
    margin: 0 0 0 1rem;
}

.subscribers {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.625rem;
    width: 100%;
    margin-top: 0.1rem;


}

.first-subscriber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.625rem;
    margin-top: 0.1rem;
    padding: 0 0 0 1rem;

}

.img img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin: 0 1rem 0 0;
}

.second-subscriber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    margin: 0.1rem 0 0 0;
    padding: 0 0 0 1rem;

}

.thired-subscriber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    margin: 0.1rem 0 0 0;
    padding: 0 0 0 1rem;
}

.thired-subscriber .channel-name3 p {
    font-size: 12px;
}

.fourth-subscriber {
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    margin: 0.1rem 0 0 0;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fifth-subscriber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    margin: 0.1rem 0 0 0;
    padding: 0 0 0 1rem;
}

.sixth-subscriber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    margin: 0.1rem 0 0 0;
    padding: 0 0 0 1rem;
}

.seventh-subscriber {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
    background-color: none;
    border-radius: 0.625rem;
    margin: 0.1 rem 0 0 0;
    padding: 0 0 0 1rem;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0 0 0;
}

.section3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Heading-You {
    width: 80%;
    height: 2.5rem;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 1rem;
    margin: 1rem 0 0 0;
    border-radius: 0.625rem;
}

.option1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 2.5rem;
    background-color: aqua;
    border-radius: 0.625rem;
    margin: 0.5rem 0 0 0;
}

.option1 i {
    margin: 0 1rem 0 0.5rem;

}

.option2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 2.5rem;
    background-color: aqua;
    border-radius: 0.625rem;
    margin: 0.5rem 0 0 0;

}

.option2 img {
    margin: 0 1rem 0 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.option3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 2.5rem;
    background-color: aqua;
    border-radius: 0.625rem;
    margin: 0.5rem 0 0 0;
    /* padding: 0 0 0 1rem; */
}

.option3 i {
    margin: 0 1rem 0 0.5rem;
}

.option4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 2.5rem;
    background-color: aqua;
    border-radius: 0.625rem;
    margin: 0.5rem 0 0 0;
}

.option4 i {
    margin: 0 1rem 0 0.5rem;
}

.option5 {
    width: 80%;
    height: 2.5rem;
    background-color: aqua;
    border-radius: 0.625rem;
    margin: 0.5rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box {
    width: 1.5rem;
    height: 1.2rem;
    background-color: transparent;
    margin: 0 1rem 0 0.5rem;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangel {
    width: 0;
    height: 0;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-bottom: 0.5rem solid #ffffff;
    rotate: calc(90deg);
}

.option6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 2.5rem;
    margin: 0.5rem 0 0 0;
    background-color: aqua;
    border-radius: 0.625rem;
}

.option6 i {
    margin: 0 1rem 0 0.5rem;
}